name: CD - Build and Publish Docker Image
on:
  push:
    branches: [ "main" ]
  workflow_dispatch: {}
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 20.18.0
      - run: npm ci
      - run: npm run build 

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: docker.io
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: docker build . -t ${{ secrets.DOCKER_USERNAME }}/sysinfo-api:latest

      - name: Push Docker image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/sysinfo-api:latest
